.wrapper{
    width: 540px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgb(60, 62, 68);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;

    @media(max-width: 570px) {
        width: 100%;
        flex-direction: column;
    }
}

.imgWrap{
    width: 220px;
    height: 220px;
    display: block;
    position: relative;
    object-fit: cover;
    overflow: hidden;

    @media(max-width: 570px) {
        width: 100%;
        height: 300px;
    }
}
.imgWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name{
        font-size: 28px;
        margin: 0;
    }
    p{
        padding: 0;
        margin: 0;
        &.status{
            display: block;
            margin-top: 8px;
            position: relative;
            &::before{
                content: '';
                display: inline-block;
                position: relative;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #fff;
                margin-right: 6px;
                margin-bottom: 2px;
            }
        }
        &.location, &.episode{
            margin-top: 20px;
            span{
                opacity: 0.4;
                font-weight: bold;
                display: block;
                margin-bottom: 4px;
            }
        }
    }
}