.wrapper{
    color: #fff;
    section{
        margin-top: 50px;
    }
}
.bgWrapper{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 10;
    }
    .blurLayer{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(75px);
    }
}
.infoBlock{
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    margin-top: -160px;
    position: relative;
    z-index: 150;
    color: #fff;
    .avatar{
        width: 220px;
        height: 220px;
        position: relative;
        border-radius: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 60px;
        h1{
            font-size: 28px;
            margin: 0;
        }
        p{
            padding: 0;
            margin: 0;
            font-weight: bold;
        span{
            display: block;
            margin-top: 8px;
            position: relative;
            opacity: 0.4;
            &.withDot{
                &::before{
                    content: '';
                    display: inline-block;
                    position: relative;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #fff;
                    margin-right: 6px;
                    margin-bottom: 2px;
                }
            }
        }
        }
    }

    @media(max-width: 890px) {
        flex-direction: column;
        .content {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 30px;
            div:first-child {
                grid-column: 1/3;
            }
            div {
                text-align: center;
            }
        }
    }
}
.cardRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}