@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

body{
  background-color: #202329;
}
p{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;

  @media(max-width: 1100px) {
    justify-content: center;
  }
}

.about__banner{
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }
  h1{
    position: relative;
    z-index: 100;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
  }
}
.about__text{
  font-size: 16px;
  margin-top: 16px;
}
.content{
  padding: 100px 0;
}
.loader-wrapper{
  width: 100%;
  img{
    display: block;
    width: 80px;
    margin: 0 auto;
    animation: spin .5s ease-in-out infinite;
  }
}

.paginator-wrapper{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  &__item{
    width: 32px;
    height: 32px;
    font-size: 20px;
    border-radius: 4px;
    background: #3C3E44;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active{
      background: #fff;
    }
  }
  span{
    color: #fff;
    font-size: 20px;
  }
  &__prev-btn{
    width: 20px;
  }
  &__next-btn{
    width: 20px;
    transform: rotate(180deg);
  }
}